<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>

<h2>Add Product</h2>

<form method="POST">

    Product Name:
    <input type="text" name="product">
    <br><br>

    Category:
    <input type="text" name="category">
    <br><br>

    Brand:
    <input type="text" name="brand">
    <br><br>

    Price:
    <input type="text" name="price">
    <br><br>

    Rating:
    <input type="text" name="rating">
    <br><br>

    Tags:
    <input type="text" name="tags">
    <br><br>

    Description:
<input type="text" name="description">
<br><br>

Image Name:
<input type="text" name="image">
<br><br>

<button type="submit">
        Add Product
    </button>
</form>
</body>
</html>