<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>

    <h1>All Products</h1>

    {% for product in products %}

        <hr>

        <h3>{{ product.Product_Name }}</h3>

<img src="{{ url_for('static', filename=product.Image_URL) }}" width="150">

<p>Category: {{ product.Category }}</p>

        <p>Category: {{ product.Category }}</p>

        <p>Brand: {{ product.Brand }}</p>

        <p>Price: ₹{{ product.Price }}</p>

        <p>{{ product.Description }}</p>

    {% endfor %}

</body>
</html>